In [13]:
import pandas as pd
import numpy as np

In [14]:
dfr1b = pd.read_csv('black_random_1.csv').dropna()
dfr1w = pd.read_csv('white_random_1.csv').dropna()

dfr2b = pd.read_csv('black_random_2.csv').dropna()
dfr2w = pd.read_csv('white_random_2.csv').dropna()

dfr3b = pd.read_csv('black_random_3.csv').dropna()
dfr3w = pd.read_csv('white_random_3.csv').dropna()

In [15]:
dfgb = pd.read_csv('black_games.csv').dropna()
dfgw = pd.read_csv('white_gamse.csv').dropna()

In [16]:
df_total = pd.concat([dfr1b,dfr1w,dfr2b,dfr2w,dfr3b,dfr3w],axis=0)

In [17]:
len(df_total)

262996

In [28]:
m = np.mean(df_total['score'])

In [29]:
s = np.std(df_total['score'])

In [35]:
black_games_data_final = pd.concat([dfr1b,dfr2b,dfr3b],axis=0).dropna()
black_games_data_final['score'] -= m
black_games_data_final['score'] /= s

In [36]:
black_min = min(black_games_data_final['score'])
black_max = max(black_games_data_final['score'])
black_games_data_final['score'] = (black_games_data_final['score'] - black_min)/(black_max - black_min)

In [37]:
black_games_data_final.head()

  game_name  move                       path     score
0    random     1   black_random_games/1.npy  0.577875
1    random     6   black_random_games/6.npy  0.538703
2    random    10  black_random_games/10.npy  0.427713
3    random    12  black_random_games/12.npy  0.407970
4    random    14  black_random_games/14.npy  0.507991

In [38]:
white_games_data_final = pd.concat([dfr1w,dfr2w,dfr3w],axis=0).dropna()
white_games_data_final['score'] -= m
white_games_data_final['score'] /= s

In [39]:
white_min = min(white_games_data_final['score'])
white_max = max(white_games_data_final['score'])
white_games_data_final['score'] = (white_games_data_final['score'] - white_min)/(white_max - white_min)

In [40]:
white_games_data_final.head()

  game_name  move                      path     score
0    random     2  white_random_games/2.npy  0.468982
1    random     3  white_random_games/3.npy  0.525946
2    random     4  white_random_games/4.npy  0.441115
3    random     5  white_random_games/5.npy  0.576712
5    random     8  white_random_games/8.npy  0.543312

In [43]:
white_large = np.zeros((len(white_games_data_final),8,8,8),dtype=np.float32)
white_large.shape

(131359, 8, 8, 8)

In [22]:
len(white_games_data_final)

353881

In [49]:
l = np.load('white_random_games/2.npy').astype(np.float32)

In [50]:
l.dtype

dtype('float32')

In [65]:
white_large = np.zeros((len(white_games_data_final),8,8,8),dtype=np.float32)
white_score = np.zeros(len(white_games_data_final))

In [66]:
idx = 0

In [2]:
len(white_large)

NameError: name 'white_large' is not defined

In [67]:
for i,row in white_games_data_final.iterrows():
    np_arr = np.load(row['path']).astype(np.float32)
    white_large[idx] = np_arr
    white_score[idx] = row['score']
    idx += 1
    if idx%1000 == 0:
        print(idx)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000

In [76]:
np.save('white_large_np',white_large)
np.save('white_large_score',white_score)

In [3]:
white_large = np.load('white_large_np.npy')
black_large = np.load('black_large_np.npy')

In [4]:
len(white_large)

131359

In [5]:
len(black_large)

131637

In [12]:
black_large[black_large>1]

array([], dtype=float32)

In [3]:
white_large.shape

(131359, 8, 8, 8)

In [4]:
black_large.shape

(131637, 8, 8, 8)

In [77]:
black_large = np.zeros((len(black_games_data_final),8,8,8),dtype=np.float32)
black_score = np.zeros(len(black_games_data_final))

In [78]:
idx = 0

In [79]:
for i,row in black_games_data_final.iterrows():
    np_arr = np.load(row['path']).astype(np.float32)
    black_large[idx] = np_arr
    black_score[idx] = row['score']
    idx += 1
    if idx%1000 == 0:
        print(idx)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000

In [80]:
np.save('black_large_np',black_large)
np.save('black_large_score',black_score)

In [21]:
black_games_data_final.to_csv('black_games_final.csv',index=False)
white_games_data_final.to_csv('white_games_final.csv',index=False)